.sg-element {
    display: block;
    margin: 0;

    &:not(:last-of-type) {
        margin-bottom: 50px;
    }
}

.sg-element__title {
    font-size: 20px;
    margin: 0 0 15px;
}

.sg-element__description {
    margin: -10px 0 25px;
}

.sg-element__preview {
    display: block;
    border: 1px solid #F1F5F8;
    border-radius: 5px 5px 0 0;
    padding: 25px;
}