.sg-nav {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    max-height: calc(100vh - 95px);
}

.sg-nav__group {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:not(:first-of-type) {
        margin-top: 25px;
    }
}

.sg-nav__group-title {
    display: block;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #333;
}

.sg-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sg-nav__item {
    margin: 0;
    padding: 0;

    &:before,
    &:after {
        display: none;
    }
}

.sg-nav__link {
    font-size: 14px;
    line-height: 1.1;
    display: block;
    padding: 10px;
    border: 1px solid #eee;
    border-width: 1px 0 1px 0;
    position: relative;
    text-decoration: none;
    transition: .25s ease-in-out color;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    color: #333;

    .sg-nav__item:not(:first-of-type) & {
        border-top-width: 0;
    }

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        bottom: -1px;
        width: 3px;
        background-color: #3B568C;
        opacity: 0;
        transition: .25s ease-in-out opacity, .25s ease-in-out width;
        z-index: -1;
        box-sizing: border-box;
    }

    &:focus,
    &:hover {
        color: #000;
        text-decoration: none;

        &:before {
            opacity: 1;
        }
    }

    &--active {
        color: #fff;

        &:focus,
        &:hover {
            color: #fff;
        }

        &:before {
            opacity: 1;
            width: 100%;
        }
    }
}
