.sg-container {
    display: grid;

    grid-template-areas: "nav main";

    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;

    min-height: 100vh;
}

.sg-container__item {
    &--nav {
        z-index: 20;
        grid-area: nav;
        box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
        background-color: #fff;
    }
    &--main {
        z-index: 10;
        grid-area: main;
        padding: 25px;
    }
}