.sg-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sg-body__page {
    display: block;
}

.sg-body__settings {
    background-color: #333;
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: .25s ease-in-out transform;
    width: 400px;

    .sg-js-settings-open & {
        transform: translateX(0);
    }
}
